/.vs/
/WindowsServiceStartupTest/Properties/PublishProfiles/FolderProfile.pubxml.user
/WindowsServiceStartupTest/WindowsServiceStartupTest.csproj.user
/WindowsServiceStartupTest/bin/
/WindowsServiceStartupTest/obj/
